// UCF file for udisk_cpld
// $Id: udisk_cpld.ucf 27 2006-08-29 13:56:47Z brad $

NET "C0_OUT" LOC="S:PIN1";
NET "C1_OUT" LOC="S:PIN2";

NET "BG4_IN" LOC="S:PIN5";
NET "BG4_OUT" LOC="S:PIN6";
NET "BG5_IN" LOC="S:PIN7";
NET "BG5_OUT" LOC="S:PIN8";

NET "NPG_IN" LOC="S:PIN9";
NET "NPG_OUT" LOC="S:PIN10";

NET "DISK_RESET_N" LOC="S:PIN11";

NET "BUS_DATA_DIR" LOC="S:PIN16";
NET "BUS_DATA<0>" LOC="S:PIN18";
NET "BUS_DATA<1>" LOC="S:PIN19";
NET "BUS_DATA<2>" LOC="S:PIN21";
NET "BUS_DATA<3>" LOC="S:PIN22";
NET "BUS_DATA<4>" LOC="S:PIN23";
NET "BUS_DATA<5>" LOC="S:PIN25";
NET "BUS_DATA<6>" LOC="S:PIN26";
NET "BUS_DATA<7>" LOC="S:PIN27";
NET "BUS_DATA<8>" LOC="S:PIN28";
NET "BUS_DATA<9>" LOC="S:PIN29";
NET "BUS_DATA<10>" LOC="S:PIN30";
NET "BUS_DATA<11>" LOC="S:PIN31";
NET "BUS_DATA<12>" LOC="S:PIN32";
NET "BUS_DATA<13>" LOC="S:PIN34";
NET "BUS_DATA<14>" LOC="S:PIN35";
NET "BUS_DATA<15>" LOC="S:PIN36";

NET "CPU_D<0>" LOC="S:PIN37";
NET "CPU_D<1>" LOC="S:PIN38";
NET "CPU_D<2>" LOC="S:PIN39";
NET "CPU_D<3>" LOC="S:PIN40";
NET "CPU_D<4>" LOC="S:PIN41";
NET "CPU_D<5>" LOC="S:PIN42";
NET "CPU_D<6>" LOC="S:PIN43";
NET "CPU_D<7>" LOC="S:PIN44";
NET "CPU_D<8>" LOC="S:PIN45";
NET "CPU_D<9>" LOC="S:PIN46";
NET "CPU_D<10>" LOC="S:PIN47";
NET "CPU_D<11>" LOC="S:PIN48";
NET "CPU_D<12>" LOC="S:PIN49";
NET "CPU_D<13>" LOC="S:PIN53";
NET "CPU_D<14>" LOC="S:PIN54";
NET "CPU_D<15>" LOC="S:PIN55";

NET "LED_OUT" LOC="S:PIN69";

NET "CPU_A0" LOC="S:PIN60";
NET "CPU_A1" LOC="S:PIN61";
NET "CPU_A2" LOC="S:PIN62";
NET "CPU_A3" LOC="S:PIN63";

NET "CPU_RD" LOC="S:PIN65";
NET "CPU_WR" LOC="S:PIN66";
NET "CPU_INT" LOC="S:PIN67";

NET "INTR_OUT" LOC="S:PIN72";
NET "MSYN_OUT" LOC="S:PIN74";
NET "NPR_OUT" LOC="S:PIN77";
NET "SACK_OUT" LOC="S:PIN78";
NET "SSYN_OUT" LOC="S:PIN79";
NET "BR5_OUT" LOC="S:PIN80";
NET "BR4_OUT" LOC="S:PIN81";
NET "BBSY_OUT" LOC="S:PIN82";

NET "BBSY_IN" LOC="S:PIN83";
NET "INIT_IN" LOC="S:PIN84";
NET "MSYN_IN" LOC="S:PIN86";
NET "SACK_IN" LOC="S:PIN87";
NET "RESET_L" LOC="S:PIN88";

NET "PA_OUT" LOC="S:PIN93";
NET "PB_OUT" LOC="S:PIN94";
NET "PA_IN" LOC="S:PIN96";
NET "PB_IN" LOC="S:PIN97";

NET "SSYN_IN" LOC="S:PIN98";
NET "C1_IN" LOC="S:PIN99";
NET "C0_IN" LOC="S:PIN100";

NET "BUS_ADDR_DIR" LOC="S:PIN111";
NET "BUS_ADDR<0>" LOC="S:PIN112";
NET "BUS_ADDR<1>" LOC="S:PIN113";
NET "BUS_ADDR<2>" LOC="S:PIN114";
NET "BUS_ADDR<3>" LOC="S:PIN116";
NET "BUS_ADDR<4>" LOC="S:PIN117";
NET "BUS_ADDR<5>" LOC="S:PIN118";
NET "BUS_ADDR<6>" LOC="S:PIN119";
NET "BUS_ADDR<7>" LOC="S:PIN120";
NET "BUS_ADDR<8>" LOC="S:PIN121";
NET "BUS_ADDR<9>" LOC="S:PIN122";

NET "CLK" LOC="S:PIN128";

NET "BUS_ADDR<10>" LOC="S:PIN131";
NET "BUS_ADDR<11>" LOC="S:PIN132";
NET "BUS_ADDR<12>" LOC="S:PIN133";
NET "BUS_ADDR<13>" LOC="S:PIN134";
NET "BUS_ADDR<14>" LOC="S:PIN136";
NET "BUS_ADDR<15>" LOC="S:PIN137";
NET "BUS_ADDR<16>" LOC="S:PIN138";
NET "BUS_ADDR<17>" LOC="S:PIN139";

NET "CF_IORD_N" LOC="S:PIN140";
NET "CF_IOWR_N" LOC="S:PIN141";
NET "CF_CS1_N" LOC="S:PIN142";
NET "CF_CS0_N" LOC="S:PIN143";

